.bx1{
position:absolute;
left:0px;
right:0px;
top:0px;
bottom:0px;
margin:0px;
bottom:0px;
width:100%;
height:auto;
text-align:center;
background-image: linear-gradient(to bottom right,pink,#0080FF);
overflow:hidden;
}
prebx{
position:absolute;
}
pre{
display:inline;
font-family:ZILAP MONOGRAMA;
font-size:145px;
font-weight:bold;
z-index:1;
}
.bx2{
position:absolute;
width:100%;
height:100px;
display:inline;
overflow:hidden;
z-index:2;
}
.bx3{
margin-top:45px;
margin-left: 345px;


}
.im{
position:absolute;
left:0px;
image-repeat:repeat;
z-index:3;
display:inline;
}
.stglt{
position:absolute;
z-index:1;
}